<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">Giving Is The Best Communication</h1>
    <h2 class="text-white">TEDdy is a service that you can give & deliver your ideas to the world.</h2>
  </div>
</div>
