<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">モジモジモジ</h1>
    <h2 class="text-white">モジモジモジモジモジモジモジモジモジモジ</h2>
    <div class="row">
      <div class="col-md-offset-3 col-md-3">
        <%= link_to 'Sign up', '#',class: 'btn btn-block btn-white' %>
      </div>
      <div class='col-md-3'>
        <%= link_to 'Log in', '#', class: 'btn btn-block btn-white' new_user_registration_path %>
      </div>
    </div>
  </div>
</div>　
