<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">Give your ideas</h1>
    <h2 class="text-white">Pocket-TED is a service that you can deliver your ideas to the world.</h2>
  </div>
</div>
